<%- include("partials/head") %>
<a href="/">Home</a> 
<form method="get" action="/search" class="search-form" id="searchForm">
    <label for="vin">
        Vin
    </label>
    <input type="search" id="vin" name="vinQuery">
    <label for="modelYear">
        Model Year
    </label>
    <input type="search" id="modelYear" name="yearQuery">
    <button type="submit" form="searchForm">Search</button>
    </form>
    <h1><%= carInfo.Results[0].ModelYear %> <%= carInfo.Results[0].Make %> <%= carInfo.Results[0].Model %> <%= carInfo.Results[0].Trim %></h1>
    <p>VIN: <%= carInfo.Results[0].VIN %></p>
    <p>Origin: <%= carInfo.Results[0].PlantCountry %></p>
    <p>Type: <%= carInfo.Results[0].VehicleType %></p>
    <p>Power(HP): <%= carInfo.Results[0].EngineHP %></p>
    <p>Displacement(L): <%= carInfo.Results[0].DisplacementL %></p>
    <p>Cylinders: <%= carInfo.Results[0].EngineCylinders %></p>
    <%- include("partials/footer") %>
    