<%- include("partials/head") %>
<h1><a href="/">VinCheckUp</a></h1>
<main>
    <section>
<form method="get" action="/search" class="search-form" id="searchForm">
    <label for="vin">
        Vin
    </label>
    <input type="search" id="vin" name="vinQuery">
    <label for="modelYear">
        Model Year
    </label>
    <input type="search" id="modelYear" name="yearQuery">
    <button type="submit" form="searchForm">Search</button>
    </form>
</section>
<section>
    <h2><%= carInfo.Results[0].ModelYear %> <%= carInfo.Results[0].Make %> <%= carInfo.Results[0].Model %> <%= carInfo.Results[0].Trim %></h2>
    <a href="https://www.google.com/search?tbm=isch&as_q=<%= carInfo.Results[0].ModelYear %>+<%= carInfo.Results[0].Make %>+<%= carInfo.Results[0].Model %>+<%= carInfo.Results[0].Trim %>" target="blank">Images</a>
    <ul>
    <li>VIN: <%= carInfo.Results[0].VIN %></li>
    <li>Origin: <%= carInfo.Results[0].PlantCountry %></li>
    <li>Type: <%= carInfo.Results[0].VehicleType %></li>
    <li>Power(HP): <%= carInfo.Results[0].EngineHP %></li>
    <li>Displacement(L): <%= carInfo.Results[0].DisplacementL %></li>
    <li>Cylinders: <%= carInfo.Results[0].EngineCylinders %></li>
    </ul>
</section>
</main>
    <%- include("partials/footer") %>
    